#landing {
  margin-top: 40%;
  margin: 0 auto;
  width: 70%;
}
.landing-icons {
  width: 100%;
  line-height: 200%;
}

#tagline-header {
  margin-top: 133px;
}

#tagline {
  margin-top: 2%;
  margin-bottom: 5%;
  font-size: 16px;
}