.navbar {
  height: 80px;
}

.navbar-nav {
  float: right;
}

/*.container-fluid {
  padding-top: 1%;
}*/

#navbar-content {
  margin-left: 2%;
  margin-right: 2%;
  height: 80px;
  padding-top: 15px;
}

#logo {
  height: 250%;
  margin-top: -16px;
}

/*$lightGray: #f1f1f1;

#navpages {
  list-style-type: none;
  background-color: $lightGray;
}

#navpages li {
  display: inline block;


}

#logo-image-li {
}
img#logo-image {
  height: 50px;
}*/