$goldenYellow: #f1b14f;
$orangeRed: #e46a5d;


#resume {
  margin-top: 100px;
}

#resume-content {
  width: 60%;
  margin: auto;
}

a.resume-links {
  font-weight: 300;
  color: $goldenYellow;
}

a.resume-links:hover {
  color: $orangeRed;
  text-decoration: none;
}

#technical-skills-section, .side-section {
  margin-bottom: 25px;
}

ul.left-column-list {
  list-style-type: none;
  padding-left: 0;
  font-size: 16px;
}

ul.experience-bullets {
  font-size: 16px;
}

.list-heading {
  font-size: 20px;
  font-weight: 300;
}

.list-sub-heading, .school-name {
  font-size: 17px;
}

.project-description {
  font-size: 16px;
}