@import "app/navbar";
@import "app/landing";
@import "app/bio";
@import "app/contact";
@import "app/resume";
@import "app/webwork";
@import "app/socialmedia";
@import "app/print";
@import "app/codingprojects";
@import url(https://fonts.googleapis.com/css?family=Roboto:700,300,100,100italic,300italic,400italic,500,400);

$fontStack: 'Roboto', sans-serif;
$lightGray: #f1f1f1;
$darkGray: #a6a5a5;
$orangeRed: #e46a5d;
$babyBlue: #6ebec5;
$goldenYellow: #f1b14f;

html,
body {
  margin: 0;
  font-family: $fontStack;
  font-weight: 300;
  /*padding-top: 180px;*/
}

p {
  font-size: 17px;
}
.thin {
  font-weight: 100;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.italic {
  font-style: italic;
}

.black {
  color: red;
}

.orange-red {
  color: $orangeRed;
}
.baby-blue {
  color: $babyBlue;
}

.golden-yellow {
  color: $goldenYellow;
}

.dark-gray {
  color: $darkGray;
}

.red-background {
  background-color: $orangeRed;
}

.blue-background {
  background-color: $babyBlue;
}

.yellow-background {
  background-color: $goldenYellow;
}

.current-subcategory {
  background-color: $darkGray;
}

.portfolio-navbar a {
  text-decoration: none;
  color: white;
}

.portfolio-navbar li:hover {
  background-color: $darkGray;
}

.portfolio-navbar a:hover {
  color: white;
}

#footer {
  text-align: center;
  position: absolute;
  bottom:0px;
  height:30px;
  width:100%;
  margin-bottom: 2%;
}

a.current-page {
  color: $babyBlue !important;
}